

.subNavItems{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .subNavItem {
        margin: 5px;
        border: 1px solid $blue4;
        padding: 0 10px;
        border-radius: 10px;
        background: $blue4;
        a{
            color: white;
            &:hover{
                text-decoration: none;
            }
        }
    }
    .activeSubNav{
        background: #17a2b8;
    }
}
.activeSubNav{
    background: #17a2b8;
}
.react-bs-table-container{
    .react-bs-table-search-form{
        display: flex;
        justify-content: flex-end;
        .form-control{
            background-color: #c5cdd8;
            border: 1px solid #8fa0a9;
            box-shadow: 0 0 5px;
            width: 70%;
            transition: 1s;
            &:focus{
                width: 100%;
            }
        }
    }
   
}
.modal-header{
    background: #4e626c linear-gradient(90deg, transparent, #4e626c,black);
    color: white;
    .close{
        color: white;
    }
}
.modal-content{
    border: 1px solid rgb(78, 98, 108) !important;
}
button.btn.btn-success.my-save-btn-class {
    background:  #4e626c linear-gradient(90deg, transparent, #4e626c,black) !important;
    border-color:  #4e626c linear-gradient(90deg, transparent, #4e626c,black) !important;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: $blue3 !important;
    border-color: $blue3 !important;
}
.page-item .page-link {
    color: $blue4;
}
svg.svg-inline--fa.fa-sort.fa-w-10.order {
    margin: 0px 0px 0px 10px !important;
}

.th-inner.table-header-column input {
    width: 100%;
    border-radius: 20px;
    padding: 0 5px;
    &:focus{
        outline: none;
    }
}

// NEW ITEM MODAL OVERLAY
.ReactModal__Overlay.ReactModal__Overlay--after-open{
    background-color: rgba(0, 0, 0, 0.75) !important;
}

.modifications{
    text-align: center !important;
    button.btn.btn-default.btn-large{
        border-radius: 0 !important;
        box-shadow: 0 0 2px;
    }
}

// ADMIN SELECTED ARTICLES
.sSldtArticleXXXX{
    position: absolute;
    background: white;
    z-index: 10;
    padding: 20px;
    margin-right: 25px;
    box-shadow: 0 0 10px;

}
.sSldtArticleRow{
    position: relative;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    .sSldtArticleCol{
        width: 250px;
        margin: 5px;
        .sSldtArticle{
            margin-bottom: 15px;
            position: relative;
            overflow: hidden;
            padding-bottom: 5px;
            box-shadow: 0 0 5px;
            border: 2px solid rgba(0,0,0,.2);
            background: white;
            .status{
                position: absolute;
                left: 0;
                top: 0;
                padding: 2px 5px;
                color: white;
                background: gray;
                font-size: 12px;
                cursor: pointer;
            }
            .sltdImg{
                img{
                    width: 100%;
                }
            }
            .sltdTitre{
                font-size: 15px;
                padding: 0 5px;
            }
            .btnAction{
                display: flex;
                justify-content: space-around;
                button{
                    // margin: 10px;
                    border-radius: 0;
                }
            }
            .list-group{
                margin-bottom: 5px !important;
            }
        }
        .optionWrapper{
            position: absolute;
            left: 0;
            width: 100%;
            border-radius: 10px;
            z-index: 10;
            overflow: hidden;
            .pubbanner {
                padding: 3px;
                background: gainsboro;
                width: 100%;
            }
        }
        .fullarticleAdmin, .auteurprofil.admin {
            z-index: 10;
            height: 95vh;
            overflow-y: scroll;
            box-shadow: 0 0 20px;
        }
        .auteurprofil.admin {
            background: gainsboro;
            padding: 10px;
            border-radius: 5px;
            .custom-control.custom-radio.custom-control-inline {
                background: white;
                padding: 0 5px 0 18px;
                border-radius: 20px;
            }
        }
    }
}
.annulerFermer{
    position: absolute;
    right: -27px;
    top: -7px;
    padding: 20px 20px 2px 15px;
    color: white;
    background: darkred;
    font-size: 12px;
    cursor: pointer;
    transform: rotate(45deg);
    box-shadow: 0 0 10px black;
    z-index: 10;
}
.overlayArticle {
    position: absolute;
    left: 15px;
    right: 15px;
    bottom: 0;
    top: 0;
    background: rgba(0,0,0,.5);
    cursor: pointer;
    box-shadow: 0 0 10 rgba(0, 0, 0, 0.75);
}
.articleNumero {
    position: absolute;
    font-size: 30px;
    color: white;
    text-shadow: 1px 1px black, -1px -1px black;
    box-shadow: 0 0 5px rgba(0,0,0,.5);
    padding: 0 5px;
    border-radius: 30px;
    &:hover{
        box-shadow: none;
    }
    b{
        color: darkred;
    }
}
.confirmBox {
    position: absolute;
    width: 300px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    background: white;
    text-align: center;
    border: 1px solid gainsboro;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.75);
    animation: confirm 2s ease-in-out;
    .confirmBoxText {
        padding: 30px;
        font-size: 20px;
        color: lightgreen;
        font-weight: bold;
    }
    .btnAction{
        padding: 5px 10px;
        cursor: pointer;
        color: white;
        opacity: .8;
        border: 1px solid;
        &:hover{
            opacity: 1;
        }
        &.yesAction{
            background: $green;
        }
        &.noAction{
            background: red;
        }
    }
}

.auteurprofil {
    // background: gainsboro;
    padding: 10px;
    border-radius: 5px;
}

/// WHEEL
// .container.maincontainer:before {
//     position: absolute;
//     border-radius: 50%;
//     box-shadow: 0 0 10px;
//     content: "";
//     width: 0;
//     height: 0;
//     background-blend-mode: multiply;
//     background-position: top;
//     right: 11px;
//     top: 0;
//     border-bottom: 60px solid yellow;
//     border-top: 60px solid #455f73;
//     border-left: 60px solid lime;
//     border-right: 60px solid red;
//     z-index: 10;
//     transition: all 5s;
// }
// .container.maincontainer:hover:before{
//     transform: rotate(1500deg);
// }