
body{
    background: gainsboro;
    background: radial-gradient(ellipse at center, transparent 22%, gainsboro 78%, transparent);
}

// SCROLLBAR
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background: $blue3;
    // border-radius: 5px;
}
::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background: #f4f8fd;
    box-shadow: inset 0 0 5px;
}

::-webkit-scrollbar-button:vertical:increment,
::-webkit-scrollbar-button:vertical:decrement{
    color: $blue3;
    background: #f4f8fd;
    box-shadow: inset 0 0 10px;
}

*{
    transition: 0.5s;
}
.container{
    background: $bg;
    box-shadow: 1px 0 $blue4, -1px 0 $blue4;
    overflow: hidden;
    // height: 5000px;
}
.maincontainer{
    border-bottom-left-radius: 55px;
    border-bottom-right-radius: 55px;
}

.topbar{
    width: 100%;
    height: 5px;
    background: $blue3;
}

nav{
    width: 100%;
    .navbar-expand-lg{
        width: 100%;
        // ul{
            // width: 100%;
        
        // }
    }
}
ul.navbar-nav{
    justify-content: space-around;
    width: 100% !important; 
    // border-top: 1px solid lightgray;
    // border-bottom: 1px solid lightgray;
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
    background: radial-gradient(ellipse at bottom, transparent, $blue3, $blue3, $blue3);
    border-radius: 20px;
    box-shadow: 0 0 2px;
    margin: 10px 0;
    &:before {
        position: absolute;
        content: "";
        top: -4px;
        bottom: -4px;
        left: -4px;
        right: -4px;
        border: 2px solid $blue3;
        border-radius: 20px;
        box-shadow: 0 0 10px;
        z-index: 1;
    }
    li{
        z-index: 2;
        a{
            color: white;
            font-weight: 900;
            font-size: 15px;
            padding: 0;
            margin: 5px;
            padding-right: 0 !important;
            padding-left: 0 !important;
            text-shadow:  0 0 1px black;
        }
    }
}
.beforenavbar{
    height: 150px;
    .topsticker{
        color: $blue3;
        display: inline-flex;
        text-align: center;
        width: 103%;
        height: 50px;
        border-top: 0px solid;
        border: 1px solid lightgray;
        margin-left: -15px;
        box-shadow: 0 1px 5px rgba(0,0,0,.5);
        .icontext{
            padding: 5px;
            font-size: 10px;
            width: 87px;
            position: relative;
            &:hover{
                .modalConnect{
                    transform: rotateX(0deg);
                }
            }
            a{
                color: $blue3;
                &:hover{
                   text-decoration: none;
                }
            }
            svg{
                font-size: 16px;
            }
            span{
                display: block;
            }
            .modalConnect {
                background: gray;
                position: absolute;
                bottom: -152px;
                right: 2px;
                width: 220px;
                box-sizing: border-box;
                padding: 10px;
                transform: rotateX(90deg);
                transform-origin: top;
                z-index: 1000;
                border: 1px solid gray;
                box-shadow: 0 0 10px;
                &.type{
                    bottom: -178px;
                    a:hover{
                        text-decoration: none;
                    }
                    button{ 
                        border-radius: 0;
                        margin-bottom: 3px;
                        &.adminBtn{
                            background: $blue3;
                            color: whitesmoke;
                        }
                    }
                }
                input{
                    margin: 5px 0;
                    border-radius: 0;
                }
                button.newsleter{
                    border-radius: 0;
                    background: $blue3;
                    color: whitesmoke;
                }
                .contacterNous{
                    color: gainsboro;
                }
            }
        }
        .menu{
            flex-basis: 5%;
            border-right: 1px solid lightgray;
        }
        // .newsticker{
        //     flex-basis: 70%;
        //     background: linear-gradient(0deg, $blue4, white,  $blue4);
        //     position: relative;
        //     overflow: hidden;
        //     .slick-vertical .slick-slide {
        //         // height: 51px;
        //         margin: 10px 0;
        //         padding-right: 10px;
        //         span{
        //             font-weight: bold;
        //             color: $blue1;
        //         }
        //     }
        //     .prevnext{
        //         padding: 0;
        //         top: 0;
        //         position: absolute;
        //         top: -1px;
        //         right: 0;
        //         .btx{
        //             display: block;
        //             border: none;
        //             cursor: pointer;
        //             &:focus{
        //                 border: none;
        //             }
        //             &.prev{
                        
        //             }
        //             &.next{
        //                 margin-top: 1px;
        //             }
        //         }
        //     }
        //     .details{
        //         a{
        //             .btn{
        //                 padding: 2px 10px;
        //                 border-radius: 0;
        //             }
        //         }
        //     }
        // }
        .topstickerslider {
            // display: inline-flex;
            // height: 50px;
        }
        // .newsticker{
        //     margin: 0 0 0 auto;
            .mybrand{
                color: $blue3;
                font-weight: bold;
                img{
                    width: 60px;
                    height: 50px;
                }
            }
            .search{
                width: 30%;
                margin: 0 auto;
                padding-top: 5px;
                input.form-control{
                    border: 0;
                    border-bottom: 1px solid $blue4;
                    border-radius: 20px;
                    box-shadow: 0 0 5px;
                    padding-right: 40px;
                    z-index: 1;
                }
                span.input-group-text {
                    color: white;
                    background: $blue3;
                    border-top-right-radius: 20px;
                    border-bottom-right-radius: 20px;
                    box-shadow: 0 0 5px;
                    margin-left: -40px;
                    border-radius: 50%;
                    cursor: pointer;
                    z-index: 2;
                }
                
            }
        // }
        .rightItems{
            // flex-basis: 25%;
            margin: 0 0 0 auto;
            ul{
                display: inline-flex;
                padding-left: 0;
                margin-bottom: 0;
                li{
                    text-align: center;
                    list-style: none;
                    border-left: 1px solid lightgray;
                }
            }
        }
    } // TOP STICKER
    
} // BEFORE HEADER
.hpheaderbanner{
    padding: 20px;
    text-align: center;
    img{
        width: 710px;
        height: 76px;
    }
} // HEADER AD
.mainslider{
    position: relative;
    .slick-list{
        // width: 650px;
        height: 350px !important;
        border: 1px solid rgba(0, 0, 0, 0.2);
        @include boxShadow(0.3);
        .slick-slide{
            width: 100%;
            height: 100%;
            position: relative;
            .text {
                position: absolute;
                bottom: 108px;
                text-align: center;
                width: 80%;
                left: 10%;
                font-style: italic;
                background: $blue4;
                line-height: 10px;
            }
            a{
                color: white;
                img{
                    width: 100%;
                    height: 450px;
                }
                .text{
                    h3{
                        margin-bottom: 0;
                    }
                    p{
                        // margin-bottom: 0;
                    }
                    button.btn{
                        border: none;
                        padding: 0 15px !important;
                        border-radius: 15px;
                        margin-bottom: 10px;
                        background: inherit;
                        box-shadow: 0 0 5px white;
                        color: white;
                    }
                }
            }
        }
    }
    .prevnext {
        position: absolute;
        bottom: 6px;
        left: 20px;
        .btx{
            cursor: pointer;
            background: $blue3;
            border: 0;
            color: white;
            &:hover{

            }
            &.prev{
                margin-right: 3px;
            }
        }
    }
    .msright{
        .col{
            margin-bottom: 10px;
            position: relative;
            border: 1px solid rgba(0, 0, 0, 0.2);
            @include boxShadow(0.3);
            overflow: hidden;
            padding: 0;
            &:last-child{
                margin-bottom: 0;
            }
            img{
                width: 100%;
                height: 108px;
            }
            .title{
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 35px;
                background: $blue4;
                color: white;
                padding: 2px;
                h4{
                    font-size: 13px;
                    margin-bottom: 0;
                    font-weight: bold;
                }
                p{
                    font-size: 11px;
                    margin-bottom: 0;
                }
            }
        }
    }    
}
.articles{
    padding: 20px 0;
    .articlesgroup1{
        .left{
            .horizontalarticle{
                margin-bottom: 20px;
                margin-left: 0px;
                padding: 10px 0;
                background: lightgrey;
                border: darken(lightgray, 50%);
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
                border-radius: 5px;
                .img{
                    padding-right: 0;
                    img{
                        width: 100%;
                        height: 200px
                    }
                }
                .text{
                    .categorie{
                        span{
                            padding: 5px 10px;
                            background: $blue3;
                            color: gainsboro;
                            font-weight: bold;
                            border-radius: 15px;
                            box-shadow: 0 0 15px rgba(0,0,0,.5);
                        }
                    }
                    h3{
    
                    }
                    p{
    
                    }
                    .date{
                        i{
    
                        }
                    }
                }

            }
        }
        .right{
            
        }
    }
    .articlesgroup2{
        .left{
                padding-right: 0;
            .verticalarticle{
                margin: 0 auto 20px auto;
                // margin-bottom: 20px;
                margin-right: 5px;
                padding: 5px;
                border: 1px solid rgba(0, 0, 0, 0.15);
                box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
                img{
                    width: 100%;
                    height: 150px
                }
                .text{
                    .categorie{
                        margin-top: -10px;
                        margin-left: 10px;
                        span{
                            padding: 5px 10px;
                            background: $blue3;
                            color: gainsboro;
                            font-weight: bold;
                            border-radius: 15px;
                            text-shadow: 0 0 15px rgba(0,0,0,.5);
                        }
                    }
                    h3{
                        font-size: 15px;
                        margin: 10px 0;
                        font-weight: bold;
                    }
                    p{
                        font-size: 13px;
                        height: 55px;
                        overflow: hidden;
                        margin-bottom: 0;
                    }
                    .date{
                        i{
    
                        }
                    }
                }

            }
            .asdots{
                display: inline-flex !important;
                // justify-content: center !important;
                // align-content: center;
                margin-left: 50%;
                transform: translate(-50%);
                li{
                    // height: 20px;
                    // width: 20px;
                    list-style: none;
                    background: gray;
                    margin: 10px;
                    border-radius: 50%;
                    button{
                        color: transparent;
                        background: transparent;
                        border-radius: 50%;
                        border: none;
                        padding: 0;
                        width: 20px;
                        height: 20px;
                        cursor: pointer;
                        opacity: 0.5;
                        &:focus{
                            outline-color: transparent;
                        }
                    }
                    &.slick-active{
                        background: $blue1;
                        // border: 1px solid gray;
                        transform: scale(1.25);
                        opacity: 1;
                        &:before{
                            position: absolute;
                            content: "";
                            border: 1px solid;
                            top: -2px;
                            left: -2px;
                            right: -2px;
                            bottom: -2px;
                            border-radius: 50%;
                            color: gray;
                        }
                    }
                }
            }
        }
        .right{
            
        } //
    }
}

// PANELISTES
.panelistes{
    position: relative;
    margin-left: 0 !important;
    .slick-slide{
        &:hover{
            transform: scale(1.1);
        }
    }
    .pslider{
        overflow: hidden;
        padding: 10px;
        background: white;
        // margin-left: 14px;
        // margin-right: 15px;
        margin-bottom: 10px;
        @include boxShadow(0.1);
    }
    .psheader{
        text-align: center;
        background: aliceblue;
        margin-bottom: 10px;
        border: 1px solid rgba(0, 0, 0, .05);
        h5{
            margin-bottom: 5px;
        }
        p{
            margin-bottom: 0;
        }
    }
    .pwrapper {
        margin: 5px;
        padding: 5px;
        box-shadow: 0 0px 1px rgba(0, 0, 0, 0.5);
        &:hover{
            box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
        }
    }
    .paneliste{
        // margin: 5px;
        a{
            text-decoration: none;
            color: darkgrey;
            text-align: center;
            img{
                height: 100px;
                width: 100px;
                border-radius: 50%;
                margin-left: 50%;
                transform: translate(-50%);
                margin-bottom: 5px;
            }
            h5{
                font-size: 16px;
            }
        }
    }
    .prevnext{
        .btx{
            position: absolute;
            top: 55%;
            cursor: pointer;
            transform: scaleY(1.5);
            background: #f4f8fd;
            border: none;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
            &:focus{
                outline-color: transparent;
            }
            &.prev{
                left: 0;
            }
            &.next{
                right: 0;
            }
        }
    }
    .pdc{
        margin-bottom: 11px;
        .paneldecouvrir{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            background: radial-gradient(ellipse at bottom,transparent, $blue1, $blue1);
            text-align: center;
            padding: 10px;
            border-radius: 50%;
            max-width: 240px;
            margin: 0 auto;
            @include boxShadow(0.4);
            a{
                text-decoration: none;
                color: white;
                h4{
                  text-transform: uppercase;  
                }
                .fa-reply-all {
                    font-size: 30px;
                    transform: rotateY(180deg);
                }
            }
        }
    }
}
.newsletter{
    padding: 30px 0;
    border-top: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro;
    .nlmain{
        background: white;
        padding: 30px 10px;
        color: $blue3;
        border: 1px solid $blue3;

        h4{
           font-weight: bold;
        }
        form{
            input{
                width: 80%;
                color: $blue3;
                padding: 5px;
                border: 1px solid rgba(0, 0, 0, 0.2);
                border-bottom-left-radius: 20px;
                &:focus{
                    outline-color: transparent;
                    outline-style: none;
                }
            }
            button{
                width: 20%;
                padding: 5px;
                border: 1px solid rgba(0, 0, 0, 0.2);
                border-top-right-radius: 30px;
                background: $blue3;
                color: white;
                font-weight: bold;
            }
        }
        p{
            padding-top: 5px;
            font-style: italic;
        }
    }
    .nlside{
        text-align: center;
        background: lightgray;
        padding: 5px;
        font-weight: bold;
        @include boxShadow(0.3);
        h5{
            color: $blue1;
            font-weight: bold;
        }
        p{
            margin-bottom: 0;
        }
        h6{
            font-weight: bold;
        }
        img{
            width: 40px;
            height: 40px;
            border-radius: 50%;
            margin: 2px;
        }
        .fa-arrow-right{
            color: $blue1;
            font-weight: bold; 
        }
    }
}

.toparticles{
    margin: 20px 0;
    
    .left{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 15px;
        .verticalarticle{
            width: 250px;
            margin-right: 10px;
            margin-bottom: 10px;
            position: relative;
            background: rgba(0, 0, 0, 0.5);
            border: 1px solid rgba(0, 0, 0, 0.1);
            @include boxShadow(0.5);
            img{
                width: 100%;
                height: 210px;
            }
            .text{
                position: absolute;
                bottom: 0;
                width: 100%;
                padding: 3px;
                background: $blue4;
                .categorie{
                    text-align: center;
                    margin-top: -15px;
                    span{
                        color: white;
                        background: linear-gradient(to top, black, grey);
                        border-radius: 10px;
                        padding: 3px 10px;
                        @include boxShadow(0.3);
                    }
                }
                a{
                    color: white;
                    h3{
                        margin-bottom: 3px;
                        font-size: 14px;
                    }
                    p{
                        margin-bottom: 0;
                        font-size: 12px;
                    }
                }
            }
        }
    }
}
.taheader{
    .line{
        border-bottom: 5px solid $blue3;
    }
    .span{
        span{
            color: white;
            font-weight: bold;
            background: $blue3;
            padding: 5px 10px;
            border-top-right-radius: 39px;
        }

    }
}
.offrespartenaires{
    .left{
        margin: 10px 0;
        padding: 10px;
        position: relative;
        background: $blue4;
        .offre{
            // margin: 0 5px;
            .pwrapper{
                width: 200px;
                text-align: center;
                box-shadow: 0 0 10px;
                padding: 3px;
                margin: 0 auto;
                a{
                    color: white;
                    &:hover{
                        text-decoration: none;
                    }
                    img{
                        width: 100%;
                        height: 130px;
                    }
                    h5{
                        margin-bottom: 3px;
                    }
                    .fas{

                    }
                }
            }
        }
        .prevnext{
            .btx{
                position: absolute;
                top: 40%;
                cursor: pointer;
                transform: scaleY(1.5);
                background: #f4f8fd;
                border: none;
                box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
                &:focus{
                    outline-color: transparent;
                }
                &.prev{
                    left: 0;
                }
                &.next{
                    right: 0;
                }
            }
        }
    }
    .right{
        .devenirsponsor{
            font-size: 25px;
            height: 80%;
            margin-top: 10%;
            padding-top: 25%;
            background: $blue3;
            text-align: center;
            border-radius: 50%;
            @include boxShadow(0.4);
            a{
                color: white;
                &:hover{
                    text-decoration: none;
                }
                span{

                }
                .fa-bullhorn{
                    font-size: 20px;
                    margin: 5px;
                    // animation-name: sponsor;
                    // animation-duration: 1.5s;
                    // animation-iteration-count: infinite;
                    &.fa1{
                        color: green;
                    }
                    &.fa2{
                        color: yellow;
                    }
                    &.fa3{
                        color: red;
                    }
                }
            }
        }
    }
}

.nospartenaires{
    h2{
        font-size: 28px;
        text-align: center;
        color: $blue3;
        margin: 10px;
        font-weight: bold;
        span{
            text-shadow: 1px 1px 1px white, 2px 2px 2px black;
        }
    }
    .left{
        margin-bottom: 40px;
        padding: 30px 10px;
        position: relative;
        border-bottom: 1px solid gainsboro;
        border-top: 1px solid gainsboro;
        .partenaire{
            // margin: 0 5px;
            .pwrapper{
                width: 120px;
                height: 90px;
                text-align: center;
                padding: 3px;
                margin: 0 auto;

                a{
                    color: white;
                    &:hover{
                        text-decoration: none;
                    }
                    img{
                        width: 100%;
                        height: 100%;
                        border: 1px solid gainsboro;
                        border-radius: 15px;
                    }
                }
            }
        }
    }
}

.footer{
    text-align: center;
    background: $blue3;
    padding-top: 15px;
    .footertop{
        .container {
            border-top-left-radius: 55px;
            border-top-right-radius: 55px;
            padding: 10px;
            box-shadow: inset 0 0 50px;
        }
        h2{
            font-size: 20px;
            font-weight: 900;
            color: $blue3;
            span{
                border-bottom: 2px solid $blue3;
            }
        }
        .p1{
            padding: 0 25px;
            img{
                width: 110px;
                height: 80px;
            }
            
            p{

            }
        }
        .p2{
            border-left: 1px dotted gainsboro;
            border-right: 1px dotted gainsboro;
           h2{

           } 
           ul{
               li{
                   list-style: none;
                   span{
                        font-weight: bold;
                   }
               }
           }
        }
        .p3{
            // .staytunned .svg-inline--fa {
            .staytunned{
                a{
                    font-size: 40px;
                    margin: 5px;
                    color: $blue3;
                    .rsi{
                        &.fa-facebook-square:hover{
                            color: #3b5998;
                        }
                        &.fa-linkedin:hover{
                        color: #007bb5;
                        }
                                            
                        &.fa-twitter-square:hover{
                        color: #55acee;}
                                            
                        &.fa-youtube-square:hover{
                        color: #ff0000;
                        }
                    }
                }
            }
        }
    }
    .footercopy{
        // background: $bg;
        .container{
            color: $bg;
            background: $blue3;
            font-weight: bold;
            padding: 5px;
            img{
                width: 36px;
                height: 20px;
            }
            a{
                color: inherit;
            }
        }
    }
}
.toparticles{
    .right{
        padding-right: 10px;
          // sidebarslider
        .sbads{
            margin-top: 20px;
            padding: 5px;
            padding: 5px;
            border: 1px solid $blue4;
            @include boxShadow(0.5);
            a{
                padding: 3px;
                img{
                    width: 98%;
                    height: 230px;
                }
            }
        }
    }
}

// PAGES 
.page-categorie{
    // height: 20px;
    width: 100%;
    margin: 10px 0;
    padding: 5px 10px;
    border-radius: 5px;
    span{
        background: $blue4;
        color: white;
        padding: 2px 5px;
        box-shadow: 0 0 20px black;
    }
}
.pageheader{
    margin-bottom: 20px;
    .card{
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        background: gainsboro;
        .card-img-top{
            height: 250px;
            border-bottom: 5px solid $blue3;
            opacity: 0.9;
            &:hover{
                opacity: 1;
            }
        }
        .card-title{
            text-transform: capitalize;
        }
        .card-body.text{
            background: linear-gradient(to bottom, white, white,transparent);
            z-index: 2;
            border: 1px solid lightgray;
            margin: -30px 10px 0;
        }
        a{
            button{
                width: 100px;
                border-radius: 30px;
                box-shadow: 0 0 15px rgba(0,0,0,0.6);
                &:hover{
                    box-shadow: 0 0 30px rgba(0,0,0,0.5);
                }
            }
        }
    }
}
.pagearticles{
    margin-bottom: 20px;
    .articlesgrid{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        max-height: 700px;
        overflow-y: auto;
        /* overflow-x: hidden; */
        box-shadow: inset 0 0 10px rgba(0,0,0,0.5);
        background: white;
        &:after {
            content: "";
            flex: auto;
          }
        .card{
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            background: gainsboro;
            width: 250px;
            margin: 10px;
            .card-img-top{
                height: 150px;
                // width: 250px;
                border-bottom: 5px solid $blue3;
                // opacity: 0.7;
                &:hover{
                    // opacity: 1;
                }
            }
            .card-title{
                text-transform: capitalize;
            }
            .card-body.text{
                background: linear-gradient(to bottom, white, white,transparent);
                z-index: 2;
                border: 1px solid lightgray;
                // margin: -30px 10px 0;
            }
            a{
                button{
                    width: 100px;
                    border-radius: 30px;
                    box-shadow: 0 0 15px rgba(0,0,0,0.6);
                    &:hover{
                        box-shadow: 0 0 30px rgba(0,0,0,0.5);
                    }
                }
            }
            .card-footer {
                border-top: 1px solid $blue4;
                .text-left{
                    margin-right: 45px;
                }
            }
        }
    }
}

// BOUTIQUES
.nosboutiques{
    .textHeader{
        .fa-shopping-cart{
            font-size: 40px;
            border: 1px solid;
            padding: 7px;
            border-radius: 50%;
            box-shadow: 0 0 10px;
        }
        h4{
            font-size: 30px;
            font-family: 'Kaushan Script', cursive;
            span{
                color: $blue3;
                text-decoration: underline;
                text-decoration-color: #43a047;
            }
        }
    }
    .boutiquewrapper{
        background: radial-gradient(ellipse at center, transparent, $blue3,transparent, $blue3, transparent, $blue3);
        margin: 20px 0;
        .btk{
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 30px;
            &:hover{
                img{
                    transform: scale(1.1);
                }
                .btkText{
                    background: darken($blue4, 10%); 
                }
            }
            .btkinnerwrapper{
                position: relative;
                border: 2px solid $blue3;
                &:hover{
                    transform: scale(1.1);
                }
                &:before {
                    position: absolute;
                    content: "";
                    top: -6px;
                    bottom: -6px;
                    left: -6px;
                    right: -6px;
                    border: 2px solid $blue3;
                    box-shadow:0 0 10px 3px gainsboro;
                }
                .imgwrapper{
                    overflow: hidden;
                    position: relative;
                    img{
                        width: 300px;
                        height: 250px;
                        cursor: crosshair;
                    }
                }
                .btkText{
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    background: $blue4;
    
                    a{
                        color:white;
                        &:hover{
                            text-decoration: none;
                        }
                        h4{
                            font-size: 18px;
                            font-family: 'Roboto', sans-serif;
                            margin-bottom: 0;
                            margin-top: 5px;
                        }
                        h5{
                            font-size: 14px;
                        }
                        .svg-inline{
        
                        }
                    }
                }
            }
        }
    }
}

//KIOSQUE
.magazines{
    padding-top: 20px;
    .mois{
        color: green;
    }
    .hebdo{
        color: red;
        margin-left: 10px;
    }
    .textHeader{
        .fa-newspaper{
            font-size: 40px;
            border: 1px solid;
            padding: 7px;
            border-radius: 50%;
            box-shadow: 0 0 10px;
        }
        h4{
            font-size: 30px;
            font-family: 'Kaushan Script', cursive;
            span{
                color: $blue3;
                text-decoration: underline;
                text-decoration-color: red;
            }
        }
       
    }
    .kiosqueswrapper{
        padding: 10px;
    }
}
.mag{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: 1px solid gainsboro;
    box-shadow: inset 0 0 15px $blue3;
    .magTitle{
        text-align: center;
        font-size: 16px;
        font-weight: bold;
        color: $blue3;
        font-family: 'Roboto', sans-serif;
    }
    .maginnerwrapper{
        position: relative;
        .imgwrapper{
            border: 1px solid $blue3;
            width: 250px;
            height: 300px;
            position: relative;
            img{
                width: 100%;
                height: 100%;
            }
            span {
                position: absolute;
                top: 0;
                left: 0;
                color: white;
                padding: 0 1px;
                font-style: italic;
                font-weight: bold;
                font-size: 11px;
                &.mois{
                    background: green;
                    box-shadow: 1px 1px white, 2px 2px green;
                }
                &.hebdo{
                    background: red;
                    margin-left: 0;
                    box-shadow: 1px 1px white, 2px 2px red;
                }
            }
        }
        span{

        }
        .magText{
            display: flex;
            max-width: 283px;
            border-left:  1px solid $blue3;
            border-bottom:  1px solid $blue3;
            border-top:  1px solid $blue3;
            .details{
                width: 33.33%;
                text-align: center;
                border-right: 1px solid $blue3;
                span{
                    display: block
                }
                .span1{
                    text-decoration: underline;
                    color: gray;
                }
                .span2{
                    color: $blue3;
                    font-weight: bold;
                    line-height: 1;
                    font-size: 11px;
                }
                a{
                    color: $blue3;
                    &:hover{
                        text-decoration: none;
                    }
                }
            }
        }
    }
}
.categorieslider{
    margin: 10px 0;
}
.singlearticleslider{
    margin: 10px 0;
    position: relative;
    .cardwrapper{
        .card{
            margin: 3px;
            box-shadow: 0 0 5px rgba(0,0,0,0.4);

            img{
                height: 130px;
                border-bottom: 2px solid $blue3;
            }
            p{
                height: 70px;
                font-size: 18px;
                color: $blue3;
                overflow: hidden;
            }
            a:hover{
                text-decoration: none;
            }
            button{
                background: $blue4;
                color: white;
                border-radius: 0;
            }
            .card-body{
                padding: 5px;
            }
        }
    }
    .btx{
        position: absolute;
        top: 33%;
        padding: 30px 7px;
        font-size: 18px;
        cursor: pointer;
        color: white;
        background: rgba(0,0,0,0.6);
        border: 0;
        box-shadow: 0 0 5px $blue4;
        &:focus{
            outline: 0;
        }
        &.prev{
            left: 2px;
        }
        &.next{
            right: 2px;
        }
    }
}
// SLIDERS
.text .date {
    margin-top: 9px;
    border-top: 1px dotted rgba(0,0,0,.2);
}

// SINGLE ARTICLE
.singlearticle{
    .articleContent{
        background: white;
        padding: 10px;
        box-shadow: 0 0 5px rgba(0,0,0,0.4);
        .title{
            color: $blue3;
            font-weight: bold;
        }
        .articleauteur{
            color: gray;
            .span1{
                margin-right: 10px;
            }
            .span2{

            }
        }
        img.mainImage{
            width: 100%;
            height: 350px;
            margin: 10px 0;
            border-radius: 10px;
            box-shadow: 0 0 10px;
        }
        .text{
            p{
                
            }
        }
        .articlefooter{
            text-align: right;
            background: aliceblue;
            padding: 10px;
            border: 1px solid gainsboro;
            h4{
                font-weight: bold;
                color: $blue3;
                margin-bottom: 0;
                font-size: 18px;
            }
            p{
                color: gray;
                margin-bottom: 0;
                font-size: 14px;
            }
        }
    }
}

.sidebarad1 img {
    width: 100%;
    max-width: 260px;
    height: 180px; 
    box-shadow: 0 0 10px rgba(0,0,0,.5);
}

// VIDEOS WRAPPER
.videowrapper{
    position: relative;
    .videooverlay {
        position: absolute;
        z-index: 1;
        height: 66px;
        width: 66px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}
