
// Body
// $body-bg: #f5f8fa;
$body-bg: #fff;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$bg: #f4f8fd;
$blue1: #2e5bec;
$blue2: rgba(0, 123, 255, .8);
$blue3: #455a64;
$blue4: rgba(69, 90, 100, 0.8);

// Green 
$green: rgba(74,170,44,.9);
